//Overlay
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
.overlay_active {
  animation: fade_in 0.6s ease-in-out;
  visibility: visible;
  opacity: 1;
}

.overlay_notActive {
  animation: fade_out 0.6s ease-in-out;
}

@keyframes fade_in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade_out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

//modale
.center {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.modale {
  width: 630px;
  height: auto;
  max-height: 700px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  z-index: 300;
  padding: 60px 0 0 0;
  & .top_right {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  & .top_left {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  & .modale_icon {
    width: 30px;
    height: 30px;
    transform: scale(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      transition: transform 100ms ease-in-out;
      transform: scale(1.7);
    }
  }
  & h4 {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
  }
  &_gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  &_elem-container {
    padding-bottom: 60px;
    margin: 0 100px;
    border-bottom: 1px solid #B3B3B3;
  }
  &_image {
    width: 100%;
    height: 100%;
    max-width: 77px;
    max-height: 102px;
  }
  &_figure-container {
    position: relative;
  }
  & .trash {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 7px;
    z-index: 1;
    width: 17px;
    height: 17px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 2px;
    padding: 1.5px 1px;
    cursor: pointer;
    &:hover {
      transition: transform 100ms ease-in-out;
      transform: scale(1.2);
    }
  }
  .button_modale-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 40px 0 30px 0;
    gap: 20px;
  }
  .button_modale {
    width: 237px;
  }
  .button_delete {
    font-family: 'Work Sans' ;
    font-family: 'syne';
    font-size: 14px;
    font-weight: 400;
    color: #D65353;
    background-color: transparent;
    border: none;
    &:hover {
      transition: transform 100ms ease-in-out;
      transform: scale(1.02);
    }
  }

  //modale 2 form
  &2-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    //gap: 30px
  }
  &2-imageInputContainer {
    background-color: #E8F1F6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
  }
  &2-imageInputImg {
    width: 58px;
    height: 58px;
    filter: invert(75%);
  }
  .inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  input[type='file'] {
    display: none;
  }
  .fileSelectedContainer {
    padding: 0;
    height: 169px;
    overflow: hidden;
  }
  .fileSelected {
    display: none;
  }
  .file {
    object-fit: cover;
    width: calc(100% / 3.5);
    height: 100%;
    filter: none;
  }
  &2_photoLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 173px;
    height: 36px;
    background-color: #CBD6DC;
    color: #306685;
    border-radius: 18px;
    margin-top: 15px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .modale2_Label {
    margin: 30px 0 20px 0;
    font-weight: 500;
    font-size: 14px;
    justify-content: flex-start;
  }
  &2_form-box {
    box-shadow: 0px 4px 14px 0px #00000017;
    width: 100%;
    height: 51px;
    border: none;
    cursor: text;
  }
  &2_border {
    padding-bottom: 60px;
    margin-bottom: 50px;
    width: 100%;
    border-bottom: 1px solid #B3B3B3;
  }
  option, #titleInput {
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
  }
}


//modale animations

.spawn_right {
  left: 100%;
  transform: translateX(0);
}
.spawn_left {
  left: -100%;
  transform: translateX(0);
}

.translate_out-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out; /* Changed here */
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.translate_in {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out, left 0.6s ease-in-out;
  -moz-transition: -moz-transform 0.6s ease-in-out, left 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out, left 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
}

.translate_out-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out; /* Changed here */
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
