footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.initial_header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.initial_header h1, .initial_header nav {
  margin: 50px 0px;
  flex: 1;
  width: 50%;
}
.initial_header nav {
  display: flex;
  justify-content: right;
}
.initial_header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.initial_header nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
.initial_header nav a {
  text-decoration: none;
  color: black;
}
.initial_header nav a:hover {
  color: #B1663C;
}
.initial_header nav #login_link {
  font-weight: 700;
}

.header_logged {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0;
}
.header_logged .logged_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.header_logged .logged_edit-button {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  padding: 10px;
}
.header_logged h3 {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.header_logged i {
  color: white;
  width: 15.6px;
  height: 15.6px;
}
.header_logged #saveButton {
  display: flex;
  align-items: center;
  height: 38px;
  background-color: white;
  padding: 10px 25px;
  border-radius: 25px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.logged_container {
  width: 100%;
  height: 59px;
  background-color: black;
  margin: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}

.overlay_active {
  animation: fade_in 0.6s ease-in-out;
  visibility: visible;
  opacity: 1;
}

.overlay_notActive {
  animation: fade_out 0.6s ease-in-out;
}

@keyframes fade_in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade_out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.center {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.modale {
  width: 630px;
  height: auto;
  max-height: 700px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  z-index: 300;
  padding: 60px 0 0 0;
}
.modale .top_right {
  position: absolute;
  top: 30px;
  right: 30px;
}
.modale .top_left {
  position: absolute;
  top: 30px;
  left: 30px;
}
.modale .modale_icon {
  width: 30px;
  height: 30px;
  transform: scale(1.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modale .modale_icon:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.7);
}
.modale h4 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.modale_gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.modale_elem-container {
  padding-bottom: 60px;
  margin: 0 100px;
  border-bottom: 1px solid #B3B3B3;
}
.modale_image {
  width: 100%;
  height: 100%;
  max-width: 77px;
  max-height: 102px;
}
.modale_figure-container {
  position: relative;
}
.modale .trash {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 7px;
  z-index: 1;
  width: 17px;
  height: 17px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 1.5px 1px;
  cursor: pointer;
}
.modale .trash:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.2);
}
.modale .button_modale-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 40px 0 30px 0;
  gap: 20px;
}
.modale .button_modale {
  width: 237px;
}
.modale .button_delete {
  font-family: "Work Sans";
  font-family: "syne";
  font-size: 14px;
  font-weight: 400;
  color: #D65353;
  background-color: transparent;
  border: none;
}
.modale .button_delete:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.02);
}
.modale2-form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px 100px;
}
.modale2-imageInputContainer {
  background-color: #E8F1F6;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
}
.modale2-imageInputImg {
  width: 58px;
  height: 58px;
}
.modale .inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modale input[type=file] {
  display: none;
}
.modale .fileSelectedContainer {
  padding: 0;
  height: 169px;
  overflow: hidden;
}
.modale .fileSelected {
  display: none;
}
.modale .file {
  object-fit: cover;
  width: 28.5714285714%;
  height: 100%;
}
.modale2_photoLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 173px;
  height: 36px;
  background-color: #CBD6DC;
  color: #306685;
  border-radius: 18px;
  margin-top: 15px;
  margin-bottom: 8px;
  cursor: pointer;
}
.modale .modale2_Label {
  margin: 30px 0 20px 0;
  font-weight: 500;
  font-size: 14px;
  justify-content: flex-start;
}
.modale2_form-box {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.0901960784);
  width: 100%;
  height: 51px;
  border: none;
  cursor: text;
}
.modale2_border {
  padding-bottom: 60px;
  margin-bottom: 50px;
  width: 100%;
  border-bottom: 1px solid #B3B3B3;
}
.modale option, .modale #titleInput {
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
}

.spawn_right {
  left: 100%;
  transform: translateX(0);
}

.spawn_left {
  left: -100%;
  transform: translateX(0);
}

.translate_out-left {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out; /* Changed here */
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.translate_in {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out, left 0.6s ease-in-out;
  -moz-transition: -moz-transform 0.6s ease-in-out, left 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out, left 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, left 0.6s ease-in-out;
}

.translate_out-right {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out; /* Changed here */
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  width: 88%;
  margin-left: 0;
  margin-right: 30px;
}

#introduction article {
  flex: 1;
  max-width: 404px;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.portfolio_title-logged-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.portfolio_title-logged-div .portfolio_title-logged {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}
.portfolio_title-logged-div button {
  display: flex;
  flex-flow: row nowrap;
  border: none;
  background-color: transparent;
  gap: 10px;
  padding: 15px;
}
.portfolio_title-logged-div button:hover {
  color: #B1663C;
}
.portfolio_title-logged-div h3 {
  position: relative;
  top: 0.7px;
}

.portfolio_title-notLogged {
  margin-bottom: 1em;
  text-align: center;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
  max-width: 304px;
  max-height: 407px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

main, footer {
  max-width: 960px;
  margin: 0 auto;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

input, button, a {
  cursor: pointer;
}

.button_Container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.button_Container .buttonShort {
  width: 100px;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1D6154;
  height: 37px;
  border: #1D6154 solid 1.5px;
  border-radius: 60px;
  color: #1D6154;
}
.button:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.02);
}

.button_Selected {
  background-color: #1D6154;
  color: white;
}

.form {
  width: 50%;
  margin: auto;
}
.form > * {
  text-align: center;
}
.form h2 {
  margin-bottom: 20px;
}
.form form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input {
  height: 50px;
  max-width: 379px;
  width: 100%;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  text-align: center;
}
.form label {
  margin: 2em 0 1em 0;
}
.form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form input[type=submit], .form button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
.form #button_submit-login {
  width: 179px;
  height: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.form a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline 1.1px black;
}

/*# sourceMappingURL=style.css.map */
