.button_Container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  .buttonShort {
    width: 100px;
    padding: 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  font-family: 'Syne';
  font-weight: 700;
  font-size: 16px;
  color: #1D6154;
  height: 37px;
  color: #1D6154;
  cursor: pointer;
}

.button_Selected {
  background-color: #1D6154;
  color: white;
  transition: all 300ms ease-in-out;
  border: #1D6154 solid 1.5px;
  border-radius: 60px;
  &:hover {
    transition: transform 100ms ease-in-out;
    transform: scale(1.02);
  }
}

.button_notActive {
  background-color: #A7a7a7;
  color: white;
  border: #a7a7a7 solid 1px;
  border-radius: 60px;
  transition: all 300ms ease-in-out;
  cursor: default;
  pointer-events: none;
}
