.form {
  width: 50%;
  margin: auto;

  & > * {
    text-align: center;
  }

  & h2{
    margin-bottom: 20px;
  }

  & form {
    text-align: left;
    margin-top:30px;
    display: flex;
    flex-direction: column;
  }

  & input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }

  & label {
    margin: 2em 0 1em 0;
  }

  & textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }

  input[type="submit"], button{
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin : 2em auto ;
    width: 180px;
    text-align: center;
    border-radius: 60px ;
  }

  #button_login {
    width: 179px;
    height: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline 1.1px black;
  }
}
